
<header class="bg-gray-800 shadow-lg sticky top-0 z-50">
  <nav class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a routerLink="/pokedex" class="flex-shrink-0 flex items-center gap-2 text-white font-bold text-xl">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-red-500" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 000 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
          </svg>
          <span>Pokédex</span>
        </a>
        @if (authService.isAuthenticated()) {
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <a routerLink="/pokedex" routerLinkActive="bg-gray-900 text-white" [routerLinkActiveOptions]="{exact: true}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Inicio</a>
              <a routerLink="/favorites" routerLinkActive="bg-gray-900 text-white" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Favoritos</a>
            </div>
          </div>
        }
      </div>
      @if (authService.isAuthenticated()) {
        <div class="hidden md:block">
          <button (click)="logout()" class="ml-4 bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-md transition duration-300 ease-in-out">
            Cerrar Sesión
          </button>
        </div>
      }
    </div>
  </nav>
</header>
